<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/highcharts/js/highcharts-more.js"></script>
    <script type="text/javascript" src="/static/highcharts/js/modules/exporting.js"></script>
    <style>
        body {
            padding:10px 150px;
        }
        #siderbar{
               border: solid 1px #C0C0C0;
        }
        .left{
              float:left;
        }
        .container-fluid{
              margin-top:80px;
              margin-left:40px;
        }
        #content{
             margin-left:40px;
        }
        .active{
             background-color:#C0C0C0;
        }
        #accidentCard{
             margin-top:20px;
        }
        .margin_top{
            margin-top:10px;
        }
    </style>
    <script>
        $(function () {
        $('#lossStatistics').highcharts({
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '事故损失分布图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '比例',
                data: [
                    ['车用气瓶爆炸',   44.6],
                    ['压缩机燃烧',    12.3],
                    {
                        name: '售气机爆炸',
                        y: 11.2,
                        sliced: true,
                        selected: true
                    },
                    ['站用气瓶爆炸',    9.5],
                    ['压缩机震动报废,冰堵', 8.6],
                    ['售气机相关部件损坏报废',   6.7],
                    ['储气井泄漏', 5.1],
                    ['储气井管套冲出,窜动',   1.1],
                    ['高压管线腐蚀报废更换',   0.9]
                ]
            }]
        });
    });
    </script>
  </head>
  <body>

	<!-- NAV-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
	  <div class="container">
	      <ul class="nav nav-pills" role="tablist">
	      <li role="presentation" ><a href="/index">首页</a></li>
	      <li role="presentation" ><a href="/accidentStatistics">统计分析</a></li>
	      <li role="presentation" ><a href="/simulationAnalysis">模拟分析</a></li>
	      <li role="presentation" ><a href="/three_dim_simulation">三维动态模拟</a></li>
	    </ul>
	  </div>
	</nav>
	<!-- ENDNAV -->
    <!-- siderbar -->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span2 left" id="siderbar">
                        <p class="nav-header">
                        </p>
                        <ul class="nav nav-list">
                            <li class="nav-header">
					           <h4 style="color:#C0C0C0;">事故统计分析</h4>
				            </li>
                            <li class="active">
                                <a href="/accidentStatistics">事故时间分析</a>
                            </li>
                            <li>
                                <a href="/accidentStatistics/locationStatistics">事故发生位置分析</a>
                            </li>
                            <li>
                                <a href="/accidentStatistics/typeStatistics">事故类型分析</a>
                            </li>
                            <li>
                                <a href="/accidentStatistics/lossStatistics">事故主要损失构成</a>
                            </li>
                        </ul>
                    </div>
                <!-- content -->
                     <div class="span8 left" id="lossStatistics">
                     </div>
                <!-- ENDcontent -->
                </div>
            </div>
        </div>
    </div>
<!-- ENDsiderbar -->
  </body>
</html>



