<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{pagetitle}}</title>
	<script src="/static/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<script src="/static/bootstrap.min.js"></script>
	<style>
		body{padding:10px 150px;}	
	</style>
	<script>
		function showFile(){
			var filename=event.srcElement.innerText
			dict={'filename':filename}
			$.post('getFilename/',dict,
			function(data){
			       if(data){
					window.location.assign("/showfile")
			      }
			},'json')
		}	
	</script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<ul class="nav nav-pills" role="tablist">
				<li role="presentation" ><a href="/demosite/index">我的博客</a></li>
				<li role="presentation" ><a href="/demosite/articles">文章</a></li>
				<li role="presentation" ><a href="/demosite/index">图片</a></li>
				<li role="presentation" ><a href="/demosite/uploadFile">文件上传</a></li>
                                <li role="presentation" ><a href="/demosite/knowledgeTree">知识结构树</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="list-group" style="margin-top:60px;">
                <button type="button" class="btn btn-default btn-sm" style="float:left;" >
                    <span class="glyphicon glyphicon-plus"></span> 上传文章
                </button>
                <form class="form-search" style="float:right;">
                    <input class="input-medium search-query" type="text" />
                    <button class="btn" contenteditable="false" type="submit">Search</button>
                </form>
                <div style="clear:both;"></div>
		<a href="#" class="list-group-item active" style="margin-top:10px;">
			{{order}}
		</a>
		{% for article in articles %}
			<a  onclick="showFile()" class="list-group-item">{{article.title}}</a>
		{% endfor %}
	</div>
</body>
</html>
