<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<script src="/static/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
	<script src="/static/bootstrap.min.js"></script>
	<style>
		.tree{
			background-color:#0aa;
			border-style:solid;
			border-width:1px;
			text-align:center;
		}	
	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<ul class="nav nav-pills" role="tablist">
				<li role="presentation" ><a href="/demosite/index">我的博客</a></li>
				<li role="presentation" ><a href="/demosite/articles">文章</a></li>
				<li role="presentation" ><a href="/demosite/index">图片</a></li>
				<li role="presentation" ><a href="/demosite/uploadFile">文件上传</a></li>
				<li role="presentation" ><a href="/demosite/knowledgeTree">知识结构树</a></li>
			</ul>
		</div>
	</nav>
	
	<div  style="margin-top:60px;padding:20px 500px 10px 300px;">
		<p class='tree'>计算机科学与技术</p>
		<p class='tree'>计算机网络技术</p>
		<p class='tree'>软件工程</p>
		<p class='tree	'>Web开发</p>
	<div>
</body>
</html>



