{% extends "gcustomer/gcustomer_station.html"%}
{% load i18n %}
{% block nonfuel_sale_nav %}
<li class="nav-active"><a href="/gcustomer/nonfuel_sale/">{% trans "非油品销售" %}</a></li>
{% endblock %}

{% block page_content %}
<div style="padding: 10px 20px">
    <h4>{% trans "选择油站" %}</h4>
    <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                   <input class="form-control"  placeholder="{% trans "请输入油站名称" %}" value="{% trans "上海油站" %}"></input>
                </div>
                <div class="col-lg-3">
                    <button id="add_behavior" class="btn btn-default" type="button">{% trans "确定" %}</button>
                </div>
            </div>
    </div>

    <div id="the_nonfuel_sale_summary" style="display:none;">
        <h4 class="title-label-class">{% trans "非油品销售概况" %}</h4>
        <table class="table border-table" contenteditable="false">
            <thead>
                <tr class="success">
                    <th style="width:300px;">{% trans "概况" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="nonfuel_survey">
             
            </tbody>
        </table>
    </div>

    <div id="the_sale_top_ten_of_nonfuel" style="display:none;">
        <h4 class="title-label-class">{% trans "销售额前10的非油品" %}</h4>
        <table class="table border-table" contenteditable="false">
            <thead>
                <tr class="success">
                    <th style="width:300px;">[% trans "排名" %}</th>
                    <th>{% trans "非油品名称" %}</th>
                    <th>{% trans "销售额" %}</th>
                </tr>
            </thead>
            <tbody id="main_nonfuel_purcahse_list">
              
            </tbody>
        </table>
    </div>

    <div id="the_sale_bottom_ten_of_nonfuel" style="display:none;">
        <h4 class="title-label-class">{% trans "销售额倒数10名的非油品" %}</h4>
        <table class="table border-table" contenteditable="false">
            <thead>
                <tr class="success">
                    <th style="width:300px;">{% trans "排名" %}</th>
                    <th>{% trans "非油品名称" %}</th>
                    <th>{% trans "销售额" %}</th>
                </tr>
            </thead>
            <tbody id="reciprocal_nonfuel_list">
               
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
{% block script_block%}
<script type="text/javascript" src="/gflux/static/js/render_station_data{{settings.GCUSTOMER_STATIC_VERSION}}.js"></script>
{% endblock %}
